
$color-strong-blue: #0F172A;
$color-medium-blue: #0369A1;
$color-purple: #581C87;
$color-light-purple: #7E22CE;
$color-yellow: #FCD34D;
$color-strong-yellow: #D97706;
$color-gray: #475569;
$color-white: #FFFFFF;
$color-ice: #E2E8F0;
$color-brown: #78350F;
